/* the codes below are about header and footer */
/* written by Ken */

/* import 'Dosis' and Indie Flower from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower');

* {
    box-sizing: border-box; /* make the height and width of the box count for the padding and margin */
    font-family: 'Dosis';
}

html, body {
    /* remove white space surrounding the header and footer */
    margin: 0;  
    padding: 0;
    /* default font size for normal text is 16px */
    /* default font size for h2 should be 1.5em which is 24px (2*16) */
    /* remark: em is an unit relative to the font-size of the element */
}

.header, footer {
    background-image: url("images/header-and-footer/test-bg.jpg");  /* import the same background image for header and footer */ 
    background-size: cover; /* expand the background image as much as possible*/
    text-align: center;
}

/* make sure the footer is always fixed on the bottom and take up the full width of the screen (optional) */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav ul {
    margin: 0; /* remove the white space up top */
    padding: 1em; /* increase heights of the two navigation bars */
}

.nav li {
    display: inline; /* make the navigation sites display in one line instead of sepearted lines */
    padding: 0 1% /* add some horizontal space between each element */
}

.nav a {
    text-decoration: none; /* remove the underline of each navigation element */
    color: white; /* make the words over the background image easier to see */
    padding: .5em; /* increase click area of each navigation element */
}

/* add an effect when we mouse over elements of the navigation bar */
.nav a:hover {
    background-color: hsl(0, 0%, 50%); 
}

#logo {
    /* make the logo "stand out" */
    color: goldenrod;
    font-family: 'Indie Flower', cursive; 
    font-size: 1.5em; /* the logo is 1.5 times the normal font size */
    background-color: transparent; /* disable hover effect for the logo */
}

/* customizing the Back to top bar */
.back-to-top {
    background-color: hsl(0, 0%, 50%);
    text-align: center;
    padding: .5em; /* add some space to the surrounding */
}

/* customizing the Back to top text */
.back-to-top a {
    text-decoration: none; /* remove the underline */
    color: white;
}

.form {
    display: inline;
}

#search-bar {
    width: 30em; /* make the search bar wider */
    padding-left: .5em; /* add some space before the text in the search bar */
}

#search-btn {
    margin-left: -1em; /* remove the space between the search bar and its button */
}

/* add an effect when we mouse over the search bar button */
#search-btn:hover {
    background-color: hsl(0, 0%, 50%); 
}

/* the codes below are about content*/
/* written by Ken */

.content-section {
    text-align: center;
}

